<!DOCTYPE html>
<html>
<head>
  <title>Payyola - Reward your Freelancer today. Everything you need to start and run a rewards scheme - to create happy workers</title>
  <meta name="description=" content=" Payyola is a global online rewards program. Where businesses, can reward freelance, virtual assistants & remote workers around the world with gift vouchers, music, coffee & wine! etc">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48105301-1', 'payyola.com');
  ga('send', 'pageview');

</script>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  
  <%= yield %>

  <%= render 'layouts/footer' %>

</div>

</body>
</html>
